.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 16.66%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 28px;
    font: serif;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #FFA500 !important;
}
/*Css de la tabla de miembros*/
#main {    
    padding: 10px 40px; /*El primer digito corresponde a: arriba y abajo; el segundo; izq y derecha*/
}

#tabla {
    width: 100%;
    border-collapse: collapse;
}

#tabla{
    width: 100%;
    border-collapse:collapse;
    border: 0;
    background-color: #FFA500;
    font-family: Arial;
   /*font-color:#FFFFFF;*/
}

#fila{
    background-color: #FFFFFF;
}

#tabla td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

#tabla th{
    table-layout: fixed;
    border: 1px solid black;
    padding: 10px;
    width: 20%;
    text-align: center;
}

.Logo{
    text-align: center;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}