.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 16.66%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 28px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50 !important;
}

#main {    
    padding: 10px 40px; /*El primer digito corresponde a: arriba y abajo; el segundo; izq y derecha*/
}

#tabla {
    width: 100%;
    border-collapse: collapse;
}

#tabla2{
    width: 100%;
    border-collapse:collapse;
    border: 0;
    background-color: #4CAF50;
    font-family: Arial;
   /*font-color:#FFFFFF;*/

    /*width="1500" cellspacing="1" cellpadding="3" border="0" bgcolor="#4CAF50"*/
}

td, th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}